<!DOCTYPE html>

<html lang="pl">

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/nav %>

        <div class="container">
            <div class="jumbotron">
                <h2 class="display-4">Witamy w heheobrazki!</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet nunc id venenatis fermentum. Vivamus hendrerit metus ut enim dapibus auctor. Fusce condimentum varius maximus. Sed et ultrices dolor.</p>
                <hr class="my-4">
                <p>Fusce maximus eros congue tristique mattis. Aliquam fermentum augue sed semper varius.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/gallery/1" role="button">Przejdź do galerii</a>
                </p>
            </div>
        </div>

        <video autoplay muted loop class="background-video">
      <source src="https://ak4.picdn.net/shutterstock/videos/20148364/preview/stock-footage-young-man-teenager-eating-doner-kebab-at-the-city-park-autumn-day.mp4" type="video/mp4">
    </video>


        <% include partials/scripts %>
</body>

</html>
