<!DOCTYPE html>

<html lang="pl">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/nav %>


        <div class="container login-container">

            <% if(typeof errors === 'object' && errors){ errors.forEach(function(error){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error.msg %>
                </div>
                <%   }); }%>

            <% if(typeof success === 'string' && success){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
                <%   } %>

<div class="row">
        <section class="col form-container">
            <h2>Zresetuj hasło</h2>
            <form method="post" action="/login/forgottenpassword" autocomplete="on">
                <div class="form-group">
                        <label for="email">Email</label>
                        <input name="email" type="email" class="form-control" id="email" placeholder="Adres email twojego konta" required>
                </div>

                <button type="submit" class="btn btn-block btn-primary">Wyślij email resetujący hasło</button>
            </form>
        </section>
</div>

        <video autoplay muted loop class="background-video">
            <source src="https://ak6.picdn.net/shutterstock/videos/20148346/preview/stock-footage-young-man-teenager-eating-doner-kebab-at-the-city-park-autumn-day.mp4"
                type="video/mp4">
        </video>

        <% include ../partials/scripts %>
</body>

</html>